@{
    ViewData["Title"] = "Skills";
}
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/skills.css" type="text/css"/>
</head>

<section id="skills">
    <h1>@ViewData["Title"]</h1>
    <p> Through the years I have worked with several languages and frameworks</p>

    <div>
        <h5>Frontend</h5>
        @foreach(var item in ViewBag.Frontend)
        {
            <button class="skills_button" onclick="showExperience(this, ' @item.Years years experience')">@item.Name</button>
        }
    </div>

    <div>
        <h5><br>Backend</h5>  
        @foreach(var item in ViewBag.Backend)
        {
            <button class="skills_button" onclick="showExperience(this, ' @item.Years years experience')">@item.Name</button>
        }
    </div>
</section>

<script src="/js/showExperience_control.js"></script>